.Rproj.user
.Rhistory
.RData
*#
.#*
*.html
*.Rproj
*.komodoproject
Data
Analysis.md
Analysis_files
Analysis.html
archive
Abstract.tex
Manuscript.md
Manuscript.tex
fig_SWM.pdf.png
accepted.pdf.png
rejected.pdf.png
uw-ethesis.bcf
uw-ethesis.run.xml
